.responseCard {
    text-align: left;
    padding: 12px;
    color: #292a3a;
    .question {
        padding-bottom: 4px;
        border-bottom: 1px solid #eee;
        margin-bottom: 4px;
        font-size: 18px;
    }
    .response {
        font-size: 16px;
    }
}