.responseCard {
    text-align: left;
    color: #292a3a;
    padding: 12px;
    @media screen and (min-width: 576px) {
        padding: 16px;
    }
    .question {
        padding-bottom: 4px;
        border-bottom: 1px solid #eee;
        margin-bottom: 4px;
        font-size: 18px;
        @media screen and (min-width: 576px) {
            font-size: 20px;
            padding-bottom: 6px;
            margin-bottom: 6px;
        }
    }
    .response {
        font-size: 16px;
        @media screen and (min-width: 576px) {
            font-size: 18px;
        }
    }
}