.questionCard {
    text-align: center;
    padding: 24px 12px;
    @media screen and (min-width: 576px) {
        padding: 24px;
    }
    .question {
        font-weight: 500;
        color: #1976D2;
        font-size: 20px;
        &.required {
            &::before {
                content: '*';
                color: #E57373;
                margin-right: 4px;
            }
        }
        @media screen and (min-width: 576px) {
            font-size: 22px;
        }
    }
    .answer {
        margin-top: 16px;
        @media screen and (min-width: 576px) {
            margin-top: 24px;
        }
    }
    .footer {
        margin-top: 20px;
        text-align: right;
        .submitBtn {
            text-transform: uppercase;
            padding: 0px 4px;
            font-size: 14px;
            font-weight: 500;
            color: #8BC34A;
            cursor: pointer;
            &.disabled {
                color: #eee;
                pointer-events: none;
            }
            @media screen and (min-width: 576px) {
                font-size: 18px;
            }
        }
    }
}